{% extends "base.html" %}

{% block content %}

    <div class="row">
        <div class="col s4">
            <div class="card hoverable">
                <div class="card-content center-align">
                    <i class="fa fa-usd fa-3x" aria-hidden="true"></i>
                    <br><br>
                    <p>Value</p>
                </div>
                <div class="card-action center-align">
                    <a href="#" style="margin-right: 0;">Choose</a>
                </div>
            </div>
        </div>
        <div class="col s4">
            <div class="card hoverable">
                <div class="card-content center-align">
                    <i class="fa fa-usd fa-3x" aria-hidden="true"></i><i
                        class="fa fa-usd fa-3x" aria-hidden="true"></i>
                    <br><br>
                    <p>Moderate</p>
                </div>
                <div class="card-action center-align">
                    <a href="#" style="margin-right: 0;">Choose</a>
                </div>
            </div>
        </div>
        <div class="col s4">
            <div class="card hoverable">
                <div class="card-content center-align">
                    <i class="fa fa-usd fa-3x" aria-hidden="true"></i><i
                        class="fa fa-usd fa-3x" aria-hidden="true"></i><i
                        class="fa fa-usd fa-3x" aria-hidden="true"></i>
                    <br><br>
                    <p>Luxury</p>
                </div>
                <div class="card-action center-align">
                    <a href="#" style="margin-right: 0;">Choose</a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
