{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="col s4">
        <div class="card hoverable">
            <div class="card-content center-align">
                <i class="fa fa-usd fa-3x" aria-hidden="true"></i>
                <br><br>
                <p>Value</p>
            </div>
            <div class="card-action center-align">
                <a href="#" id="value" style="margin-right: 0;">Choose</a>
            </div>
        </div>
    </div>
    <div class="col s4">
        <div class="card hoverable">
            <div class="card-content center-align">
                <i class="fa fa-usd fa-3x" aria-hidden="true"></i><i
                    class="fa fa-usd fa-3x" aria-hidden="true"></i>
                <br><br>
                <p>Moderate</p>
            </div>
            <div class="card-action center-align">
                <a href="#" id="moderate" style="margin-right: 0;">Choose</a>
            </div>
        </div>
    </div>
    <div class="col s4">
        <div class="card hoverable">
            <div class="card-content center-align">
                <i class="fa fa-usd fa-3x" aria-hidden="true"></i><i
                    class="fa fa-usd fa-3x" aria-hidden="true"></i><i
                    class="fa fa-usd fa-3x" aria-hidden="true"></i>
                <br><br>
                <p>Luxury</p>
            </div>
            <div class="card-action center-align">
                <a href="#" id="luxury" style="margin-right: 0;">Choose</a>
            </div>
        </div>
    </div>
</div>

<div class="right">
    <button class="btn waves-effect waves-light accent-color transition" type="submit" name="itinerary.html">
        Choose experiences
        <i class="material-icons right">send</i>
    </button>
</div>

<div class="left">
    <button class="btn waves-effect waves-light accent-color transition" type="submit" name="people.html">
        Previous
        <i class="icon-flipped material-icons left">send</i>
    </button>
</div>

<script>
    var delay = 800;
    $(document).ready(function() {
        $("a[id=luxury]").click(function(event){
            $("#moderate, #value").parent().parent().fadeOut(delay, function(){ $(this).remove();});
        });
        $("a[id=moderate]").click(function(event){
            $("#luxury, #value").parent().parent().fadeOut(delay, function(){ $(this).remove();});
        });
        $("a[id=value]").click(function(event){
            $("#moderate, #luxury").parent().parent().fadeOut(delay, function(){ $(this).remove();});
        });
    });
</script>


{% endblock content %}