{% extends "base.html" %}

{% block content %}


<div class="right">
    <button class="btn waves-effect waves-light accent-color transition" type="submit" name="timeline.html">
        View Timeline
        <i class="material-icons right">send</i>
    </button>
</div>

<div class="left">
    <button class="btn waves-effect waves-light accent-color transition" type="submit" name="itinerary.html">
        Previous
        <i class="icon-flipped material-icons left">send</i>
    </button>
</div>

{% endblock content %}
