{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="theme/css/pulse-pin.css">
<div class="row card hoverable our-title">
    <span class="card-title map">What are you looking for?</span> <br>
    <p class="map">Our machine learning algorithm will later suggest some specific destinations based on these.</p>
</div>

<div class="row">
    <div class="col s3">
        <div class="card hoverable">
            <div style="background-image: url('theme/img/plane.jpg'); background-size:100%;" class="box-text-bg card-content center-align">
                <i class="fa fa-plane fa-3x" aria-hidden="true"></i>
                <br><br>
                <p>Flights</p>
            </div>
            <div class="card-action center-align">
                <a href="#" id="flights" style="margin-right: 0;">Browse</a>
            </div>
        </div>
    </div>
    <div class="col s3">
        <div class="card hoverable">
            <div style="background-image: url('theme/img/cruise.jpg'); background-size:100%;" class="box-text-bg card-content center-align">
                <i class="fa fa-ship fa-3x" aria-hidden="true"></i>
                <br><br>
                <p>Cruises</p>
            </div>
            <div class="card-action center-align">
                <a href="#" id="cruises" class="transition" name="cloud.html" style="margin-right: 0;">Browse</a>
            </div>
        </div>
    </div>
    <div class="col s3">
        <div class="card hoverable">
            <div style="background-image: url('theme/img/bike.jpg'); background-size:100%;" class="box-text-bg card-content center-align">
                <i class="fa fa-bicycle fa-3x" aria-hidden="true"></i>
                <br><br>
                <p>Activities</p>
            </div>
            <div class="card-action center-align">
                <a href="#" id="activities" style="margin-right: 0;">Browse</a>
            </div>
        </div>
    </div>
    <div class="col s3">
        <div class="card hoverable">
            <div style="background-image: url('theme/img/checkin.jpg'); background-size:100%;" class="box-text-bg card-content center-align">
                <i class="fa fa-archive fa-3x" aria-hidden="true"></i>
                <br><br>
                <p>Package Deals</p>
            </div>
            <div class="card-action center-align">
                <a href="#" id="packages" style="margin-right: 0;">Browse</a>
            </div>
        </div>
    </div>
</div>

<div class="right">
    <button class="btn waves-effect waves-light accent-color transition"
            type="submit" name="timeline.html">
        View Timeline
        <i class="material-icons right">send</i>
    </button>
</div>

<div class="left">
    <button class="btn waves-effect waves-light accent-color transition" type="submit" name="budget.html">
        Previous
        <i class="icon-flipped material-icons left">send</i>
    </button>
</div>

{% endblock content %}