{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="theme/css/pulse-pin.css">
<div class="row card hoverable our-title">
    <span class="card-title map">What are you looking for?</span> <br>
    <h4 class="map">Select an item to view options so that we can tailor an itinerary to suite your needs.</h4>
</div>

<div class="row">
    <div class="col s3">
        <div class="card hoverable">
            <div style="background-image: url('theme/img/plane.jpg'); background-size:100%;" class="box-text-bg card-content center-align">
                <i class="fa fa-plane fa-3x" aria-hidden="true"></i>
                <br><br>
                <p>Flights</p>
            </div>
            <div class="card-action center-align">
                <a href="#" id="flights" style="margin-right: 0;">Browse</a>
            </div>
        </div>
    </div>
    <div class="col s3">
        <div class="card hoverable">
            <div style="background-image: url('theme/img/cruise.jpg'); background-size:100%;" class="box-text-bg card-content center-align">
                <i class="fa fa-ship fa-3x" aria-hidden="true"></i>
                <br><br>
                <p>Cruises</p>
            </div>
            <div class="card-action center-align">
                <a href="#" id="cruises" class="transition" name="cloud.html" style="margin-right: 0;">Browse</a>
            </div>
        </div>
    </div>
    <div class="col s3">
        <div class="card hoverable">
            <div style="background-image: url('theme/img/bike.jpg'); background-size:100%;" class="box-text-bg card-content center-align">
                <i class="fa fa-bicycle fa-3x" aria-hidden="true"></i>
                <br><br>
                <p>Activities</p>
            </div>
            <div class="card-action center-align">
                <a href="#" id="activities" style="margin-right: 0;">Browse</a>
            </div>
        </div>
    </div>
    <div class="col s3">
        <div class="card hoverable">
            <div style="background-image: url('theme/img/checkin.jpg'); background-size:100%;" class="box-text-bg card-content center-align">
                <i class="fa fa-archive fa-3x" aria-hidden="true"></i>
                <br><br>
                <p>Package Deals</p>
            </div>
            <div class="card-action center-align">
                <a href="#" id="packages" style="margin-right: 0;">Browse</a>
            </div>
        </div>
    </div>
</div>

<div class="right">
    <button class="btn waves-effect waves-light accent-color transition"
            type="submit" name="timeline.html">
        View Timeline
        <i class="material-icons right">send</i>
    </button>
</div>

<div class="left">
    <button class="btn waves-effect waves-light accent-color transition" type="submit" name="budget.html">
        Previous
        <i class="icon-flipped material-icons left">send</i>
    </button>
</div>

<script>
    var delay = 800;
    var delay2 = 400;
    var opacity = 0.4;

    $(document).ready(function () {
        $("a[id=packages]").click(function (event) {
            $("#flights, #cruises, #activities").parent().parent().fadeTo(delay, opacity);
            $("#packages").parent().parent().fadeTo(delay2, 1);
        });

        $("a[id=flights]").click(function (event) {
            $("#packages, #cruises, #activities").parent().parent().fadeTo(delay, opacity);
            $("#flights").parent().parent().fadeTo(delay2, 1);
        });

        $("a[id=cruises]").click(function (event) {
            $("#flights, #packages, #activities").parent().parent().fadeTo(delay, opacity);
            $("#cruises").parent().parent().fadeTo(delay2, 1);
        });

        $("a[id=activities]").click(function (event) {
            $("#flights, #cruises, #packages").parent().parent().fadeTo(delay, opacity);
            $("#activities").parent().parent().fadeTo(delay2, 1);
        });
    });
</script>

{% endblock content %}