{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="theme/css/pulse-pin.css">
<div class="row card hoverable our-title">
    <span class="card-title map">Thanks for booking</span>
    <p class="map">A link to your travel board has been emailed to you.
        Download our app to view it even without a data connection.</p>
    <img src="theme/img/qr.png">
</div>

<div class="row card hoverable map-container">
</div>

<div class="left">
    <button class="btn waves-effect waves-light accent-color transition" type="submit" name="timeline.html">
        Previous
        <i class="icon-flipped material-icons left">send</i>
    </button>
</div>

{% endblock content %}
