{% extends "base.html" %}

{% block content %}

    <div class="row">
        <div class="col s1 timeline-box">
            <p>12</p>
            <p>Sun</p>
        </div>
        <div class="col s1 timeline-box">
            <p>13</p>
            <p>Mon</p>
        </div>
        <div class="col s1 timeline-box">
            <p>14</p>
            <p>Tue</p>
        </div>
        <div class="col s1 timeline-box">
            <p>15</p>
            <p>Wed</p>
        </div>
        <div class="col s1 timeline-box">
            <p>16</p>
            <p>Thu</p>
        </div>
        <div class="col s1 timeline-box" onclick="$('#fri-modal').modal('open');">
            <p>17</p>
            <p>Fri</p>
        </div>
        <div class="col s1 timeline-box">
            <p>18</p>
            <p>Sat</p>
        </div>
        <div class="col s1 timeline-box">
            <p>19</p>
            <p>Sun</p>
        </div>
        <div class="col s1 timeline-box">
            <p>20</p>
            <p>Mon</p>
        </div>
        <div class="col s1 timeline-box">
            <p>21</p>
            <p>Tue</p>
        </div>
        <div class="col s1 timeline-box">
            <p>22</p>
            <p>Wed</p>
        </div>
        <div class="col s1 timeline-box">
            <p>23</p>
            <p>Thu</p>
        </div>
    </div>

    <div id="fri-modal" class="modal bottom-sheet">
        <div class="modal-content">
            <h4>Friday the 17th</h4>
            <p>A bunch of text</p>
        </div>
        <div class="modal-footer">
            <a href="#" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
    </div>

    <script>
    $(document).ready(function(){
        // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
        $('.modal').modal();
      });
    </script>

{% endblock content %}
